.socialslide a {
  color: #fff;
  text-decoration: none;
}

.socialslide {
  width: auto;
  top: 10px;
}

.socialslide span{
  margin: 5px;
  text-align: center;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

.socialslide span:hover a {
  color: #000;
}

.socialslide span:hover i {
  background: rgba(0, 0, 0, 0.36);
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}
.socialslide span i {
  margin-left: 10px;
  color: #000;
  background: #fff;
  padding: 10px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  font-size: 1.5rem;
  background: #ffffff;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}

.socialslide span.twitter i {
  color: #55acee; 
  background: #000;
  border: 3px outset #55acee;
}
.socialslide span.twitter:hover i {
  background: #55acee; 
  color: #000;
  border: 3px inset #55acee;
}

.socialslide span.facebook i {
  color: #3b5998; 
  background: #000;
  border: 3px outset #3b5998;
}
.socialslide span.facebook:hover i {
  background: #3b5998; 
  color: #000;
  border: 3px inset #3b5998;
}

.socialslide span.gplus i {
  color: #dd4b39; 
  background: #000;
  border: 3px outset #dd4b39;
}
.socialslide span.gplus:hover i {
  background: #dd4b39; 
  color: #000;
  border: 3px inset #dd4b39;
}

.socialslide span.youtube i {
  color: #bb0000; 
  background: #000;
  border: 3px outset #bb0000;
}
.socialslide span.youtube:hover i {
  background: #bb0000; 
  color: #000;
  border: 3px inset #bb0000;
}

.socialslide span.linkedin i {
  color: #007bb5; 
  background: #000;
  border: 3px outset #007bb5;
}
.socialslide span.linkedin:hover i {
  background: #007bb5; 
  color: #000;
  border: 3px inset #007bb5;
}

.socialslide span.instagram i {
  color: #f46f30; 
  background: #000;
  border: 3px outset #f46f30;
}
.socialslide span.instagram:hover i {
  background: #f46f30; 
  color: #000;
  border: 3px inset #f46f30;
}


.socialslide span.whatsapp i {
  color: #4dc247; 
  background: #000;
  border: 3px outset #4dc247;
}
.socialslide span.whatsapp:hover i {
  background: #4dc247; 
  color: #000;
  border: 3px inset #4dc247;
}

.socialslide span.pinterest i {
  color: #cb2027; 
  background: #000;
  border: 3px outset #cb2027;
}
.socialslide span.pinterest:hover i {
  background: #cb2027; 
  color: #000;
  border: 3px inset #cb2027;
}

.socialslide span.vine i {
  color: #00bf8f; 
  background: #000;
  border: 3px outset #00bf8f;
}
.socialslide span.vine:hover i {
  background: #00bf8f; 
  color: #000;
  border: 3px inset #00bf8f;
}


.socialslide span.snapchat i {
  color: #fffc00; 
  background: #000;
  border: 3px outset #fffc00;
}
.socialslide span.snapchat:hover i {
  background: #fffc00; 
  color: #000;
  border: 3px inset #fffc00;
}


.socialslide span.quora i {
  color: #a82400; 
  background: #000;
  border: 3px outset #a82400;
}
.socialslide span.quora:hover i {
  background: #a82400; 
  color: #000;
  border: 3px inset #a82400;
}


.socialslide span.flickr i {
  color: #ff0084; 
  background: #000;
  border: 3px outset #ff0084;
}
.socialslide span.flickr:hover i {
  background: #ff0084; 
  color: #000;
  border: 3px inset #ff0084;
}
