{% extends '@nucleus/partials/particle.html.twig' %}

{% block particle %}
    <div class="socialslide">
		{% if particle.tw %}<span class="twitter"><a href="http://twitter.com/{{ particle.tw|raw }}" title="Follow us on Twitter"><i class="fa fa-twitter"></i></a></span>{% endif %}
		{% if particle.fb %}<span class="facebook"><a href="http://facebook.com/{{ particle.fb|raw }}" title="Like us on Facebook"><i class="fa fa-facebook"></i></a></span>{% endif %}
	</div>

{% endblock %}
